{% extends 'masterpage/index-1.html' %}
{% block title3 %} Share Detail {% endblock %}
{% load static %}
{% load id_filters %}
{% block content %}


<div class="cal_ content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-2">
                <h5 class="card-title">
                    <i class="fa fa-share mr-1" style="font-weight: bolder;"></i>
                    Share Window
                </h5>
            </div>

            <div class="col-md-6">
            </div>
            <div class="col-md-4" style=" padding-top:12px; ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-share mr-1" style="font-weight: bolder;"></i> Share</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/view/">Window</a></li>
                    <li class="breadcrumb-item active">Share ID :{{order.id | encoded_id }}</li>
                </ol>
            </div>
            {% if messages %}
            <div class="col-md-5">
                <h5 class="card-title">
                    {% for message in messages %}
                    <!--<div class="alert alert-info">-->
                    <p style="color: red; margin-top: 10px !important;">
                        {{ message|safe }}
                    </p>
                    <!--</div>-->
                    {% endfor %}
                </h5>
            </div>
            {% endif %}
        </div>
    </section>


    <!-- Main content -->
    <section class="content" style="min-height: 220px !important;">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table text-center" style="color: black !important;">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th style="display:none;" id="action_id">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{order.title}}</td>
                                    <td>{{order.date_name}}</td>
                                    <td>{{order.private_description|safe }}</td>
                                    <td>
                                        <div class="d-grid">
                                            <div class="btn-group">
                                                <a href="javascript:void(0)" style="display:none;" id="drive_url" class="bg-info ml-2" target="_blank">
                                                <span class="label label-info">
                                                    Drive Url
                                                </span>
                                                </a>
                                                <a href="javascript:void(0)" id='delete_button' style="display:none;" onclick="Delete_drive()" class="bg-info ml-2">
                                                <span class="label label-warning">
                                                    Delete Drive
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            {% for i in lists %}
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="box">
                    <div class="box-body">
                        <div class="product-img">
                            <div id="check_value{{i.id | encoded_id }}">

                            </div>
                            <div class="pro-img-overlay" id="action{{i.id | encoded_id }}">
                                <a href="javascript:void(0)" onclick="openphotoModel('{{i.id | encoded_id }}')"
                                   class="bg-info"
                                   style="width: auto !important; padding: 10px 25px !important; margin: 0; margin-top: 50px !important;">View</a>
                            </div>
                            <span>
                                    {{i.name}}
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</div>

<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="widthch chekc modal-dialog modal-dialog-centered" role="document" id="modal_idd">
        <div class="modal-content" id="modal_openn">
            <img src="" alt="" id="photo_id" class="img-fluid">
        </div>
    </div>
</div>
<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
<script>


    function openphotoModel(id) {

        var src_value = $('#photo-'+ id +'').attr('src');
        var photo_ele = document.getElementById("photo_id");
        photo_ele.src = src_value;
        $("#video_id_id").css('display','none');
        $("#photo_id").css('display','block');
        $('#photoModal').modal();

    };
    function DownloadModel(id) {
    let confirmAction = confirm("Download Information");
    if (confirmAction) {
        $('#download_button').prop('disabled', true).css('cursor', 'wait');
        $.ajax({
            url: '/download_data/',
            method: 'POST',
            data: { 'id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'check': 1 },
            dataType: 'JSON',
            success: function (data) {
                if (data.status === true) {
                    alert('Drive Uploaded Successfully...');
                    $('#delete_button').css('cursor', 'pointer');
                    $('#drive_url').attr('href', data.url).css('display', 'inline');
                    $('#delete_button').css('display', 'inline');
                    $('#action_id').css('display', 'inline'); // Ensure this ID exists
                    $('#download_button').css('cursor', 'not-allowed');
                } else {
                    alert('Currently Drive is not available...');
                    alert('Please Update Drive URL At --> /Private-App/private_info/config.py');
                    $('#download_button').css('cursor', 'not-allowed');
                }
            },
            error: function () {
                alert('Something went wrong');
                $('#download_button').prop('disabled', false).css('cursor', 'pointer');
            }
        });
    }
}

    function Delete_drive() {
        let confirmAction = confirm("Delete Drive");
        if (confirmAction) {
            $('#delete_button').prop('disabled', true);
            $('#delete_button').css('cursor', 'wait');
            var inputValue = document.getElementById('drive_url').getAttribute('href');
            $.ajax({
                url: '/download_data/',
                method: 'POST',
                data: {csrfmiddlewaretoken: '{{csrf_token}}', 'check': 0 , 'folder_id': inputValue},
                dataType: 'JSON',

                success: function (data) {
                    if(data.status==true){
                        alert('Drive Delete Successfully.....')
                        $('#drive_url').attr('href', '');
                        $('#download_button').prop('disabled', false);
                        $('#delete_button').css('display','none');
                        $("#drive_url").css('display','none');
                        $("#download_button").css('display','inline');
                        $('#download_button').css('cursor', 'pointer');
                    }
                    else{

                    }

              },

              error: function () {
                alert('Something is Wrong');
              }
            });
        }
    }

</script>
{% endblock %}