{% extends 'masterpage/index-1.html' %}
{% block title3 %} Share Window {% endblock %}
{% load static %}
{% load id_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="cal_ content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title"><i class="fa fa-share mr-1" style="font-weight: bolder;"></i> Share Window</h5>
            </div>
            <div class="col-md-8">
                {% if messages %}

                {% for message in messages %}
                <!--<div class="alert alert-info">-->
                <p style="color: red; margin-top: 10px !important;">
                    {{ message }}
                </p>
                <!--</div>-->
                {% endfor %}

                {% endif %}
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            {% if list %}
                {% for i in list %}
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="box">
                        <div class="box-body">
                            <div>
                                <a href="/share/{{ i.id|encoded_id }}" class="text-center">
                                    <h4 class="box-title mb-0">
                                        {{i.title}}
                                    </h4>
                                    <h3 class="box-title mb-0">
                                    <span>
                                        <i style="margin-right: 20px;" class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span>
                                        {{i.date_name}}
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <h1>
                        No Note Share Yet !
                    </h1>
                </div>
            {% endif %}
        </div>
    </section>
    <!-- /.content -->
</div>

{% endblock %}